<!--<app-sphere-map class="minimap"></app-sphere-map>-->
<div>
    <h1>Welcome to the Sea of Worlds</h1>
</div>

<div class="buttonDiv">
    <button (click)='toSphereMap()'>Sphere Map</button>
    <button (click)='toShardGate()'>Shard Gate</button>
    <button (click)='toSphereEditor()'>Sphere Editor</button>
    <button (click)='toMaze()'>Maze</button>
    <button (click)='toArchive()'>Archive</button>
    <button (click)='toCampaign()'>Campaign</button>
    <button (click)='toCampaignMap()'>Campaign Map</button>
</div>

