<div class="menu">
    <strong>{{activeCrystalSphere.name}}</strong>
    <div>
        <label>Stars: </label>
        <ul class="menuList">
            <li *ngFor='let star of activeCrystalSphere.stars'>{{star}}</li>
        </ul>
    </div>
    <div>
        <label>Orbital Bodies: </label>
        <ul class="menuList">
            <li *ngFor='let orbit of activeCrystalSphere.orbits'>{{orbit.orbitalBodies[0]}}</li>
        </ul>
    </div>
    <div>
        <label>Faction: </label>
        <div class="menuVar">Unknown</div>
    </div>
    <div>
        <label>Currents: </label>
        <ul class="menuList">
            <li>Current1</li>
            <li>Current2</li>
            <li>Current3</li>
            <li>Current4</li>
            <li>Current5</li>
            <li>Current6</li>
            <li>Current7</li>
            <li>Current8</li>
            <li>Current9</li>
        </ul>
    </div>
</div>
<div id="mapFrame" (mousedown)="onClickCanvas($event)" (window:resize)="resize($event)"></div>
