.menu {
    width: 10em;
    height: 10em;
    background-color: gray;
    position: absolute;
    float: left;
    margin: 5px;
    overflow: auto;
    padding: 5px;
}

.menuList {
    margin: 0;
}

.menuVar {
    text-indent: 2em;
}